### IMPORTS

In [1]:
import numpy as np
import pandas as pd

###  1. Reading  raw companies data  from csv file

In [2]:
df_comp = pd.read_csv('./raw_data/companyData.csv', usecols=['Founded Date', 'Organization Name', 
                                                        'Funding Status', 'Last Funding Date',
                                                        'Last Funding Type'])  

df_comp.head(3)

,Founded Date,Organization Name,Funding Status,Last Funding Date,Last Funding Type
0,2014-08-30,Heliocor,Seed,2018-11-01,Pre-Seed
1,2017-04-01,Oriente,Early Stage Venture,2018-11-28,Series A
2,2015-01-01,Lemonade,Late Stage Venture,2017-12-19,Series C

### 2. Dropping entries of companies  not founded between 2008-18

In [3]:
#Dropping rows without 'Founded Date'

df_comp = df_comp[df_comp['Founded Date'].notna()]

In [4]:
#Converting 'Founded Date', 'Funded Date' to 'Founded_Year', Last_Funded_Year

df_comp['Founded Date']=pd.to_datetime(df_comp['Founded Date']).dt.year

df_comp['Last Funding Date']=pd.to_datetime(df_comp['Last Funding Date']).dt.year

df_comp.rename(columns={'Founded Date':'Founded_Year',
                        'Last Funding Date': 'Last_Funding_Year'}, inplace=True)

In [5]:
# Dropping rows whose 'Founded_Year' is not between 2008-18

df_comp=df_comp[(df_comp['Founded_Year']>=2008) & (df_comp['Founded_Year']<=2018)]

In [6]:
df_comp.head(3)

,Founded_Year,Organization Name,Funding Status,Last_Funding_Year,Last Funding Type
0,2014,Heliocor,Seed,2018.0,Pre-Seed
1,2017,Oriente,Early Stage Venture,2018.0,Series A
2,2015,Lemonade,Late Stage Venture,2017.0,Series C

### 3. Saving to companies input csv file

In [7]:
df_comp.to_csv('./input_data/companyInput.csv',index=False)

### 4. Deleting dataframe

In [8]:
del df_comp